#errorCatcher Echo
## $Id: index.html.tmpl 2608 2014-11-14 12:37:17Z mwall $
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <body>
     <h2>Last measurable rain </h2>

	<table>
	<tr> <td> current time </td><td> $current.dateTime</td> </tr>
	<tr> <td> last db time </td><td> $latest.dateTime</td> </tr>
	<tr> <td> last rain </td><td> $last_rain </td></tr>
	<tr> <td> lastrain deltatime:  </td><td> $lastrain_delta_time </td></tr>

	</table>

  </body>

</html>

<!--
        lastrain_vt = (lastrain_ts, 'unix_epoch', 'group_time')
        lastrain_vh = ValueHelper(lastrain_vt, formatter=self.generator.formatter, converter=self.generator.converter)

        lastrain_delta_time_vt = (delta_time, 'second', 'group_delta_time')
        lastrain_delta_time_vh = ValueHelper(lastrain_delta_time_vt, formatter=self.generator.formatter, converter=self.generator.converter)

        search_list_extension = {'last_rain' : lastrain_vh,  'lastrain_delta_time' :  lastrain_delta_time_vh }

        return [search_list_extension]
-->

